*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#content{
  display: grid;
  min-height: 100vh;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 1fr 7fr;
}
.navbar{
  grid-column: 1 / -1;
  grid-row-start: 1;
  background-color: black;
}
.sidebar{
  grid-column-start: 1;
  grid-row-start: 2;
  background-color: blue;
}
.main{
  grid-column-start: 2;
  grid-row-start: 2;
  background-color: red;
}
