@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, 'sans-serif';
}
.material-symbols-outlined{
  color: #f5f3ff;
}
.sidebar-projects .material-symbols-outlined:hover{
  color: rgb(74, 240, 74)
}

#content{
  display: grid;
  min-height: 100vh;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 1fr 7fr;
}
.navbar{
  grid-column: 2;
  grid-row-start: 1;
  background-color: #ddd6fe;
  box-shadow: 0px 2px 3px #9ca3af;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 0px 30px;
}

.nav-content-right{
  width: 30%;
  display: flex;
  justify-content: end;
}
.nav-content-left{
  min-width: 70%;
  flex: 1;
  display: flex;
  flex-direction: row;
}
.nav-content-right div{
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
}

.searchbar {
  padding: 10px 8px;
  border: 2px solid #7c3aed;
  border-right: none;
  border-radius: 3px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  outline: none;
  width: 80%;
  cursor: pointer;
}
.searchbar:focus{
  border: 2px solid #4995ec;
  border-right: none;
}

.nav-content-left button {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 2px solid #7c3aed;
  background-color: #7c3aed;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 3px #9ca3af;
}
.nav-content-left button:hover {
  opacity: 0.8;
}
.nav-content-left button:active{
  opacity: 0.5;
  box-shadow: none;
}

.sidebar{
  grid-column-start: 1;
  grid-row: 1 / -1;
  background-color:#7c3aed;
  padding: 20px 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 2fr;
  gap: 10%;
}
.sidebar-title-container{
  display: flex;
}

.sidebar-title-container,.sidebar-inbox, .sidebar-today, .sidebar-upcomming,.sidebar-complete,.sidebar-projects,.new-project{
  color: white;
  font-weight: bold;
  gap: 5px;
}
.sidebar-title-container span{
  font-size: 3rem;
}
.sidebar-inbox span, .sidebar-today span, .sidebar-upcomming span , .sidebar-projects span,.sidebar-complete span,.new-project span{
  font-size: 2rem;
}
.sidebar-fields{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-inbox, .sidebar-today, .sidebar-upcomming, .sidebar-complete{
  align-items: center;
}
.sidebar-inbox, .sidebar-today, .sidebar-upcomming,.sidebar-projects,.sidebar-complete{
  display: grid;
  grid-template-columns: 1fr 1fr 5fr;
  gap: 10px;
  cursor: pointer;

}
.sidebar-inbox:hover, .sidebar-today:hover,.sidebar-upcomming:hover,.sidebar-complete:hover,.sidebar-projects:hover, .new-project:hover{
  opacity: 0.8;
}
.sidebar-inbox-status,.sidebar-today-status,.sidebar-upcomming-status, .sidebar-projects-status,.sidebar-complete-status, .new-project-status{
  opacity: 0.6;
  justify-self: end;
}
.new-project{
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column: 2 / -1;
  gap: 10px;
  cursor: pointer;
  
}
.main{
  grid-column-start: 2;
  grid-row-start: 2;
  background-color:#f5f3ff ;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr;
  gap: 20px;
}
.main .create-task{
  grid-row-start: 1;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  border-bottom: 2px solid #7c3aed;
  gap: 10px;
}
.main .create-task span{
  font-size: 30px;
}
.main .create-task .material-symbols-outlined{
  color: #7c3aed;
  grid-column-start: 2;
  cursor: pointer;
}
.main .create-task .material-symbols-outlined:hover{
  color: green;
}

.main .create-task .create-task-title{
  color: black !important;
  font-weight: bold;
  grid-column-start: 1;
}
.main-changing-content{
  grid-row-start: 2;
}
.dialog-container{
  position: relative;
}
#dialog, #dialogProperties {
  width: 550px;
  height: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f5f3ff;
  border: 4px solid #7c3aed;
  outline: none;
  border-radius: 5px;
  margin-top: 6%;
}

#dialogProperties{
  background-color: #ddd6fe;
  height: 400px;
  width: 650px;
  
}

#dialog form {
  padding: 10px 10px 30px 10px;
  font-size: 16px;

}

.div-for-label{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
input[type="text"], input[type="date"], textarea{
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  margin: 8px 0px;
  border-radius: 3px;
  outline: none;
  border: none;
  font-size: 16px;
  color: black;
  border: 2px solid #7c3aed;
}
textarea{
  height: 87px;
}
input[type="text"]:focus, input[type="date"]:focus, textarea:focus{
  border: 2px solid #4995ec;
}
input[type="text"]:invalid, input[type="date"]:invalid, textarea:invalid{
  border: 2px solid red;
}
.required-status{
  width: 50px;
  height: 30px;
  font-size: 10px !important;
  background-color: #7c3aed;
  border-radius: 3px;
  color: #f5f3ff;
  font-weight: bold;
  justify-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
}
fieldset {
  padding: 10px 20px;
  width: 100%;
}
input[type="radio"]{
  accent-color: #7c3aed;
}
.buttonsflex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}
.closeBtnContainer{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.buttonsflex button, .closeBtnContainer .closebtn{
  width: 120px;
  height: 40px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.cancelbtn, .closebtn{
  background-color: black;
  color: #f5f3ff;
  border: none;
  transition: 0.15s;

}
.cancelbtn:hover ,.closebtn:hover {
  color: black;
  background-color:  #f5f3ff;
  border: 2px solid black;
  opacity: 0.8;
}

.submitbtn {
  color: #f5f3ff;
  background-color:#7c3aed;
  border: none;
  transition: 0.15s;
}
.submitbtn:hover {
  color: #7c3aed;
  background-color: #f5f3ff;
  border: 2px solid #7c3aed;
  opacity: 0.8;
}

.cancelbtn:active,.submitbtn:active, .closebtn:active {
  opacity: 0.5;
}

.list-of-todo{
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 15px; */
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
.card{
  height: 110px;
  width: 50%;
  background-color: #ddd6fe;
  border-radius: 7px;
  padding: 10px 10px;
  display: grid;
  border: #7c3aed 4px solid;
  grid-template-rows: 1fr 1fr 3fr;
  grid-template-columns: 3fr 1fr 2fr;
  gap: 15px;
}

.icon-fields{
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}
.update-icon-container span, .show-icon-container span, .remove-icon-container span{
  cursor: pointer;
}

.show-icon-container span:hover,.update-icon-container span:hover, .remove-icon-container span:hover{
  font-size: 33px !important;

}

.property-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.main-container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70%;
  min-width: 70%;
}

