*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#content{
  display: grid;
  min-height: 100vh;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 1fr 7fr;
}
.navbar{
  grid-column: 1 / -1;
  grid-row-start: 1;
  background-color: #ddd6fe;
  box-shadow: 0px 2px 3px #9ca3af;
  z-index: 10;
}
.sidebar{
  grid-column-start: 1;
  grid-row-start: 2;
  background-color:#7c3aed;

}
.main{
  grid-column-start: 2;
  grid-row-start: 2;
  background-color:#f5f3ff ;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.current-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70%;
  min-width: 70%;
}

